name: Build and Deploy
on:
  push:
    branches: [main] # Runs every time you push to main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install and Build
        run: |
          npm install
          npm run build
          
      - name: Deploy to main branch
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add -f dist/
          git commit -m "Build output - $(date +'%Y-%m-%d %H:%M:%S')" || echo "No changes to commit"
          git push origin main
